http:
  middlewares:
    crowdsec-waf:
      plugin:
        bouncer:
          enabled: true
          crowdsecMode: live
          crowdsecLapiScheme: http
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiKey: "{{ crowdsec_bouncer_key }}"
          clientTimeout: 2s

    grafana-auth:
      basicAuth:
        users:
          - "admin:\$apr1\$7b6o7v9b\$HRLM8p1pYwU8SShSFAgD//"

  routers:
    s3-router:
      rule: "Host(`s3.{{ domain }}`)"
      entryPoints:
        - websecure
      service: seaweedfs-service
      middlewares:
        - crowdsec-waf

    grafana-router:
      rule: "Host(`grafana.{{ domain }}`)"
      entryPoints:
        - websecure
      service: grafana-service
      middlewares:
        - crowdsec-waf
        - grafana-auth

    matrix-client-router:
      rule: "Host(`matrix.{{ domain }}`)"
      entryPoints:
        - websecure
      service: matrix-service
      middlewares:
        - crowdsec-waf

    matrix-federation-router:
      rule: "Host(`matrix.{{ domain }}`)"
      entryPoints:
        - matrix
      service: matrix-service
      middlewares:
        - crowdsec-waf

  services:
    seaweedfs-service:
      loadBalancer:
        servers:
          - url: "http://seaweedfs:8333"
    grafana-service:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"
    matrix-service:
      loadBalancer:
        servers:
          - url: "http://synapse:8008"
