http:
  middlewares:
    my-security-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        customResponseHeaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex"
          server: ""

    grafana-auth:
      basicAuth:
        users:
          - 'admin:$apr1$7b6o7v9b$HRLM8p1pYwU8SShSFAgD//'

    crowdsec-bouncer:
      forwardAuth:
        address: http://crowdsec-bouncer-traefik:8080/v1/forwardAuth
        trustForwardHeader: true
